<!-- <div class="shop-banner">
<img  class="shop-banner-img "src="assets/img/cute dogs.jpg" alt="" >
</div>  -->

<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark hero" style="height:78vh; background-size: cover; background-image: url(assets/img/cute-dogs.jpg);">
    <div class="container-fluid">
       <div class="row  justify-content-center align-items-center d-flex text-center h-100">
         <div class="col-12 col-md-8  h-50 banner-text" >
             <h1 class="display-2 mb-2 mt-5" ><strong>What Your Pet Needs, <br> When they Need it </strong> </h1>
             <p class="lead mb-5"> We provide exciting and must-have products to meet your pets needs</p>
             <p><a href="products"class="buttonn">Buy Now</a></p>  
         </div>
      
       </div>
     </div>
</section>

<div class="container product-list">
    <div class="row">
    <div class="col-lg-3" *ngFor = "let product of products"> 
        <div class="product-item">
            <span class="top-sale">top sale</span>
            <ul class="product-icon-top">
                <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
            </ul>
            <a href="single-shop.html" class="product-img"><img src="{{product.Productimg}}" alt="product"></a>
            <div class="product-item-cover">
                <div class="price-cover">
                    <div class="new-price">{{product.ProductPrice | currency:'GH¢'}}</div>
                    <!-- <div class="old-price">$1.799</div> -->
                </div>
                <h6 class="prod-title"><a >{{product.ProductName}} </a></h6>
                <a class="btn" [routerLink]="['/products',product.id]" class="btn btn btn-outline-warning btn-lg banner-btn">Buy Now</a>
            </div>
            <div class="prod-info">
                <ul class="prod-list">
                    {{product.ProductSize}}
                    {{product.ProductFlavour}}
                </ul>
            </div>
    </div>
</div>
</div>



     