<footer class="footer-section">
    <div class="container">
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a routerLink="home"><img src="assets/img/logo.png" alt="puppypalace-logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Puppy Palace is a premium pet store that offers a variety of premium pet products, including food, toys, grooming supplies, and other accessories tailored for a variety of pets, including cats, dogs and other small animals. At Puppy Palace, we believe that pets are family and that they deserve the best quality products.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="#"><i class="bi bi-facebook social"></i></a>
                            <a href="#"><i class="bi bi-instagram social"></i></a>
                            <a href="#"><i class="bi bi-twitter social"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 ">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Useful Links</h3>
                        </div>
                        <ul>
                            <li><a routerLink="home">Home</a></li>
                            <li><a routerLink="#">About Us</a></li>
                            <li><a routerLink="products">Shop</a></li>
          
                            <li><a routerLink="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Subscribe</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">

                            <form class="row">
                                <div class="4">
                                  <input type="password" class="form-control" placeholder="Email Address">
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-warning"><i class="bi bi-telegram"></i></button>
                                </div>
                              </form>
                            <!-- <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="bi bi-telegram"></i></button>
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, All Right Reserved <a href="#">Puppy Palace</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>